<footer class="footer">
    <div class="container">
        <div class="row gap-y align-items-center">

            <div class="col-md-9">
                <div class="nav justify-content-center justify-content-md-start">
                    <a class="nav-link" href="../index.html">Home</a>
                    <a class="nav-link" href="../Knowledgebase/knowledgebase_dashboard.html">Knowledge Base</a>
                    <a class="nav-link" href="support_dashboard.html">Support</a>
                    <a class="nav-link" href="../docs/product_dashboard.html">Documentation</a>
                    <a class="nav-link" href="https://meetidentity.com/terms-and-conditions" target="_blank">Terms & Conditions</a>
                    <a class="nav-link" href="https://meetidentity.com/privacy-policy.html" target="_blank">Privacy Policy</a>
                </div>
            </div>

            <div class="col-md-3 text-center text-md-right">
                <a href="http://meetidentity.com/">©MeetIdentity, Inc. 2021 </a>
            </div>
        </div>
    </div>
</footer>

<!-- Scripts -->
<!-- <script src="https://MeetIdentity.com/help-center/assets/js/script.js"></script> -->
<!-- <script src="./assets/js/script.js"></script> -->
<!-- /.Scripts -->
