<div class="container">

  <div class="navbar-left">
    <button class="navbar-toggler" type="button">&#9776;</button>
    <a class="navbar-brand" href="index.html">
      <img class="logo-dark" src="assets/img/EID.png" alt="logo">
      <img class="logo-light" src="assets/img/EID.png" alt="logo">
      <!-- <img class="logo-dark" src="https://meetidentity.com/help-center/assets/img/EID.png" alt="logo"> -->
      <!-- <img class="logo-light" src="https://meetidentity.com/help-center/assets/img/logo-light.png" alt="logo"> -->
    </a>
  </div>

  <section class="navbar-mobile">
    <ul class="nav nav-navbar">
      <li class="nav-item">
        <a class="nav-link" href="index.html">Home</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="knowledgebase/knowledgebase_dashboard.html">Knowledge Base <span class="arrow"></span></a>
        <ul class="nav">

          <li class="nav-item">
            <a class="nav-link" href="#">Archive <span class="arrow"></span></a>
            <nav class="nav">
              <a class="nav-link" href="knowledgebase/archive-1.html">Archive 1</a>
              <a class="nav-link" href="knowledgebase/archive-2.html">Archive 2</a>
              <a class="nav-link" href="knowledgebase/archive-3.html">Archive 3</a>
            </nav>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">Article <span class="arrow"></span></a>
            <nav class="nav">
              <a class="nav-link" href="knowledgebase/article-1.html">Article 1</a>
              <a class="nav-link" href="knowledgebase/article-2.html">Article 2</a>
              <a class="nav-link" href="knowledgebase/article-3.html">Article 3</a>
            </nav>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="knowledgebase/faq.html">FAQ <span class="arrow"></span></a>
            <!-- <nav class="nav">
              <a class="nav-link" href="knowledgebase/platform_faq.html">MeetIdentity Platform Services</a>
              <a class="nav-link" href="knowledgebase/wallet_faq.html">Mobile Wallet</a>
              <a class="nav-link" href="knowledgebase/services_faq.html">Mobile Services </a>
            </nav> -->
          </li>
        </ul>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="support/support_dashboard.html">Support <span class="arrow"></span></a>
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="https://meetidentity.com/contact.html">Contact</a>
            
          </li>





        </ul>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="./docs/product_dashboard.html">Documentation <span class="arrow"></span></a>
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="./docs/release_notes.html">Release Notes</a>
     
          </li>
        </ul>
      </li>
    </ul>
  </section>



</div>
