<!--
          |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
          | Sidebar
          |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
          !-->

<ul class="sidebar-nav nav nav-sidebar nav-sidebar-hero p-5 pr-0" data-accordion="true">

  <li class="nav-item">
    <a class="nav-link " href="#">Platform Services <i class="nav-angle"></i></a>
    <div class="nav">
      <a class="nav-link" href="deployment.html">Deployment<i class="nav-angle"></i></a>
     
      <div class="nav">
        <a class="nav-link" href="configuration_guide.html">Configuration</a>
        <a class="nav-link" href="operator_guide.html">Operator Guide</a>
        <a class="nav-link" href="user_guide.html">User Guide</a>
        <a class="nav-link" href="release_notes.html">Release Notes</a>
      
      </div>
      
      <a class="nav-link" href="configuration_guide.html">Configuration</a>
      <a class="nav-link" href="operator_guide.html">Operator Guide</a>
      <a class="nav-link" href="user_guide.html">User Guide</a>
      <a class="nav-link" href="release_notes.html">Release Notes</a>
      
    </div>
  </li>

  <!-- <li class="nav-item">
    <a class="nav-link" href="#">Client Service <i class="nav-angle"></i></a>
    <div class="nav">
      <a class="nav-link" href="accordion.html">Release Notes</a>
      <a class="nav-link" href="alert.html">Introduction</a>
      <a class="nav-link" href="badge.html">Getting Started</a>
    </div>
  </li> -->

  <!-- <li class="nav-item">
    <a class="nav-link" href="#">Mobile ID <i class="nav-angle"></i></a>
    <div class="nav">
      <a class="nav-link" href="accordion.html">Release Notes</a>
      <a class="nav-link" href="alert.html">Introduction</a>
      <a class="nav-link" href="navbar.html">Pair Device</a>
      <a class="nav-link" href="badge.html">Getting Started</a>
      <a class="nav-link" href="navbar.html">My Identities</a>
      <a class="nav-link" href="sidebar.html">Sync Identities</a>
      <a class="nav-link" href="toc.html">Get Identities</a>
      <a class="nav-link" href="utility.html">Delete Identities</a>
      <a class="nav-link" href="toc.html">Profile</a>
    </div>
  </li> -->

  <!-- <li class="nav-item">
    <a class="nav-link" href="#">Mobile Services <i class="nav-angle"></i></a>
    <div class="nav">
      <a class="nav-link" href="accordion.html">Release Notes</a>
      <a class="nav-link" href="alert.html">Introduction</a>
      <a class="nav-link" href="badge.html">Getting Started</a>
    </div>
  </li> -->
</ul>