.navbar-dark .nav-navbar>.nav-item>.nav-link,
.navbar-dark .nav-navbar>.nav-link,
.navbar-stick-dark.stick .nav-navbar>.nav-item>.nav-link,
.navbar-stick-dark.stick .nav-navbar>.nav-link {
    color: #2b3741;
}

.navbar-dark .navbar-brand {
    width: 150px;
}

.footer {
    background: #233142;
}

.footer a {
    color: rgba(255, 255, 255, .7);
}

.footer a:hover {
    color: white;
}

.text-primary {
    color: #627bed !important;
}

/* Start faq section css
============================================================================================ */

.accordion .card-title {
    color: white;
    background: #56c8fb;
    background: -moz-linear-gradient(45deg, #56c8fb 0%, #627bed 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, #56c8fb), color-stop(100%, #627bed));
    background: -webkit-linear-gradient(45deg, #56c8fb 0%, #627bed 100%);
    background: -o-linear-gradient(45deg, #56c8fb 0%, #627bed 100%);
    background: -ms-linear-gradient(45deg, #56c8fb 0%, #627bed 100%);
    background: linear-gradient(45deg, #56c8fb 0%, #627bed 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#56c8fb', endColorstr='#627bed', GradientType=1);
}

.accordion .card-title a {
    color: white;
}

.accordion .card-title a::before {
    content: '';
    display: inline-block;
    width: 8px;
    height: 8px;
    border-left: 1px solid #ffffff;
    border-top: 1px solid #ffffff;
    margin-right: 20px;
    margin-left: -33px;
    margin-bottom: 3px;
    transform: rotate(45deg);
    transition: .2s linear;
}

/* End faq section css
============================================================================================ */

.search-panel {
    background-color: #f9f7ff;
    width: 100%;
}

.search-panel .container {
    display: flex;
    align-items: stretch;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 35px;
}

.search-panel .btn-container .btn {
    height: 100%;
}

.search-panel .input-container {
    flex-grow: 1;
    /* width: 50%; */
}

.sidebar {
    background: white;
}

.artical-btn {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
}

.artical-btn .btn-icon {
    width: 22px;
    margin: 0px 10px;
}

.artical-btn .btn-icon:hover {
    cursor: pointer;
}


/* body {
    overflow-x: hidden;
} */

/* Toggle Styles */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    /* z-index: 1000; */
    /* position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; */
    position: relative;
    top: 0;
    left: 0;
    margin-left: -250px;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    /* position: absolute; */
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    /* position: absolute; */
    margin-right: -250px;
}

/* Sidebar Styles */
.nav-sidebar .nav-item>.nav-link.active {
}
.sidebar-wrapper {
    display: flex;
}
.sidebar {
    /* padding: 0; */
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu-btn {
    display: none;
}

.menu-btn button {
    background-color: transparent;
    text-transform: none;
    padding: 0.25rem 0.75rem;
    font-size: 1.0625rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    color: rgba(117, 117, 117, 0.8);
    margin-right: 1rem;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
}

/*for mobile horizontaly*/
@media (max-width: 767px) {
    .menu-btn {
        display: block;
    }
}

@media(min-width:768px) {

    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}
