.block-number {
  text-align: center;
  font-weight: bold;
  font-size: 0.8125em;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #191919;
  transition: 0.3s ease-out; }
  .block-number:hover {
    opacity: 1; }
  .block-number::after {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 6px;
    margin-bottom: 2px;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 3px solid #191919; }
  .block-number a:hover,
  .block-number a:focus {
    color: #191919; }

.demo-section .main-content .section,
.main-content .topbar,
.main-content .navbar,
.main-content .header,
.main-content .footer {
  margin: 30px 20px 100px;
  border: 1px solid #f5f6f7;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.05); }

.main-content .navbar {
  position: static;
  margin: 0; }
  h3 {
    font-size: 1.7rem !important;
    color: rgb(97 131 134) !important;
    }
h4 {
font-size: 1.4rem !important;
color: #50a1ff !important;
}
h1 {
 color: #1d177c;
 font-weight: 300 !important;
}
b {
font-weight: 400 !important;
font-style: italic !important;
color: darkslategrey !important;
}
/*
# sourceMappingURL=style.css.map */
